<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>

</head>
<body>
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li><a class="waves-effect" href="@Url.Action("Index", "Veiculos")">Veiculos</a></li>
        <li><a class="waves-effect" href="#!">Item De Menu 2</a></li>
    </ul>
    <div class=" body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year    - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)
</body>
</html>
